@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
    border: none;
    outline: none;
  }
  input[type="number"]:focus {
    outline: none;
    border: none;
  }

  body {
    font-family: "Plus Jakarta Sans", serif;
  }

  .radio-styles {
    appearance: none;
    width: 20px;
    height: 20px;
    position: relative;
    border: 1px solid hsl(202, 55%, 16%);
    border-radius: 100%;
  }
  .radio-styles:checked {
    appearance: none;
    background-color: transparent;
    border: 2px solid hsl(61, 70%, 52%);
    text-decoration: none;
  }
  .radio-styles:checked::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    appearance: none;
    background-color: hsl(61, 70%, 52%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
